<form #f = "ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label>Title</label>
    <input ngModel name="title" id="title" class="form-control" type="text">
  </div>

  <div class="form-group">
      <label>Price</label>
      <input ngModel name="price" id="price" class="form-control" type="number">
  </div>

  <div class="form-group">
      <label>Category</label>
      <select id="category" class="form-control" ngModel name="category">
        <option value=""></option>
        <option *ngFor="let c of categories$ | async" [value]="c.$key">
          {{ c.name }}
        </option>
      </select>
  </div>

  <div class="form-group">
      <label>Image Url</label>
      <input id="imageUrl" class="form-control" type="text" ngModel name="imageUrl">
  </div>

  <button class="btn btn-primary">Add</button>
</form>